/* 
 * All style to handle colors for components
 */

.white {
  background-color: white;
}
.slate {
  background-color: #64748b;
  color: white;
}

.text-slate {
  color: #475569;
}

.slate-outlined {
  color: #64748b;
  border: 3px solid #64748b;
  background-color: white;
}

.slate-light {
  background-color: #e2e8f0;
  color: #64748b;
}

.red {
  background-color: #ef4444;
  color: white;
}

.text-red {
  color: #dc2626;
}

.red-outlined {
  color: #dc2626;
  border: 3px solid #ef4444;
  background-color: white;
}

.red-light {
  background-color: #fecaca;
  color: #b91c1c;
}

.orange {
  background-color: #f97316;
  color: white;
}

.text-orange {
  color: #ea580c;
}

.orange-outlined {
  color: #ea580c;
  border: 3px solid #f97316;
  background-color: white;
}

.orange-light {
  background-color: #fed7aa;
  color: #c2410c;
}

.yellow {
  background-color: #eab308;
  color: white;
}

.text-yellow {
  color: #ca8a04;
}

.yellow-outlined {
  color: #ca8a04;
  border: 3px solid #eab308;
  background-color: white;
}

.yellow-light {
  background-color: #fef08a;
  color: #a16207;
}

.green {
  background-color: #10b981;
  color: white;
}

.text-green {
  color: #059669;
}

.green-outlined {
  color: #059669;
  border: 3px solid #10b981;
  background-color: white;
}

.green-light {
  background-color: #a7f3d0;
  color: #065f46;
}

.blue {
  background-color: #0ea5e9;
  color: white;
}

.text-blue {
  color: #0284c7;
}

.blue-outlined {
  color: #0284c7;
  border: 3px solid #0ea5e9;
  background-color: white;
}

.blue-light {
  background-color: #bae6fd;
  color: #075985;
}
