.slate:hover {
  background-color: #475569;
}

.slate-outlined:hover {
  background-color: #64748b;
  color: white;
}

.slate-light:hover {
  background-color: #cbd5e1;
}

.red:hover {
  background-color: #dc2626;
}
.red-outlined:hover {
  background-color: #ef4444;
  color: white;
}

.red-light:hover {
  background-color: #fca5a5;
}

.orange:hover {
  background-color: #ea580c;
}
.orange-outlined:hover {
  background-color: #f97316;
  color: white;
}

.orange-light:hover {
  background-color: #fdba74;
}

.yellow:hover {
  background-color: #ca8a04;
}
.yellow-outlined:hover {
  background-color: #eab308;
  color: white;
}

.yellow-light:hover {
  background-color: #fde047;
}

.green:hover {
  background-color: #059669;
}
.green-outlined:hover {
  background-color: #10b981;
  color: white;
}

.green-light:hover {
  background-color: #6ee7b7;
}

.blue:hover {
  background-color: #0284c7;
}
.blue-outlined:hover {
  background-color: #0ea5e9;
  color: white;
}

.blue-light:hover {
  background-color: #7dd3fc;
}
