.white-hover:hover {
  background-color: white;
}

.slate-hover:hover {
  background-color: #475569;
}

.slate-outlined-hover:hover {
  background-color: #64748b;
  color: white;
}

.slate-light-hover:hover {
  background-color: #cbd5e1;
}

.red-hover:hover {
  background-color: #dc2626;
}
.red-outlined-hover:hover {
  background-color: #ef4444;
  color: white;
}

.red-light-hover:hover {
  background-color: #fca5a5;
}

.orange-hover:hover {
  background-color: #ea580c;
}
.orange-outlined-hover:hover {
  background-color: #f97316;
  color: white;
}

.orange-light-hover:hover {
  background-color: #fdba74;
}

.yellow-hover:hover {
  background-color: #ca8a04;
}
.yellow-outlined-hover:hover {
  background-color: #eab308;
  color: white;
}

.yellow-light-hover:hover {
  background-color: #fde047;
}

.green-hover:hover {
  background-color: #059669;
}
.green-outlined-hover:hover {
  background-color: #10b981;
  color: white;
}

.green-light-hover:hover {
  background-color: #6ee7b7;
}

.blue-hover:hover {
  background-color: #0284c7;
}
.blue-outlined-hover:hover {
  background-color: #0ea5e9;
  color: white;
}

.blue-light-hover:hover {
  background-color: #7dd3fc;
}
