/* 
 * All style to handle colors for components
 */

.slate {
  background-color: #64748b;
  color: white;
}

.slate-outlined {
  color: #64748b;
  border: 3px solid #64748b;
  background-color: white;
}

.slate-light {
  background-color: #e2e8f0;
  color: #64748b;
}

.slate:hover {
  background-color: #475569;
}
.slate-outlined:hover {
  background-color: #64748b;
  color: white;
}

.slate-light:hover {
  background-color: #cbd5e1;
}

.red {
  background-color: #ef4444;
  color: white;
}

.red-outlined {
  color: #ef4444;
  border: 3px solid #ef4444;
  background-color: white;
}

.red-light {
  background-color: #fecaca;
  color: #b91c1c;
}

.red:hover {
  background-color: #dc2626;
}
.red-outlined:hover {
  background-color: #ef4444;
  color: white;
}

.red-light:hover {
  background-color: #fca5a5;
}

.orange {
  background-color: #f97316;
  color: white;
}

.orange-outlined {
  color: #ea580c;
  border: 3px solid #f97316;
  background-color: white;
}

.orange-light {
  background-color: #fed7aa;
  color: #c2410c;
}

.orange:hover {
  background-color: #ea580c;
}
.orange-outlined:hover {
  background-color: #f97316;
  color: white;
}

.orange-light:hover {
  background-color: #fdba74;
}

.yellow {
  background-color: #eab308;
  color: white;
}

.yellow-outlined {
  color: #ca8a04;
  border: 3px solid #eab308;
  background-color: white;
}

.yellow-light {
  background-color: #fef08a;
  color: #a16207;
}

.yellow:hover {
  background-color: #ca8a04;
}
.yellow-outlined:hover {
  background-color: #eab308;
  color: white;
}

.yellow-light:hover {
  background-color: #fde047;
}

.green {
  background-color: #10b981;
  color: white;
}

.green-outlined {
  color: #059669;
  border: 3px solid #10b981;
  background-color: white;
}

.green-light {
  background-color: #a7f3d0;
  color: #065f46;
}

.green:hover {
  background-color: #059669;
}
.green-outlined:hover {
  background-color: #10b981;
  color: white;
}

.green-light:hover {
  background-color: #6ee7b7;
}

.blue {
  background-color: #0ea5e9;
  color: white;
}

.blue-outlined {
  color: #0284c7;
  border: 3px solid #0ea5e9;
  background-color: white;
}

.blue-light {
  background-color: #bae6fd;
  color: #075985;
}

.blue:hover {
  background-color: #0284c7;
}
.blue-outlined:hover {
  background-color: #0ea5e9;
  color: white;
}

.blue-light:hover {
  background-color: #7dd3fc;
}
